@import "partials/setup";
@import "partials/variables";
@import "partials/typography";

//#004EA8
//#4682B4
html{
    background-color:black;
    color: white;
}

h1 {
    margin-top: 2rem;
    margin-bottom:4rem;
    color: yellow;
    font-family: $headingFont;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 3rem;
    text-align: center;
    color: yellowgreen;
}


li {
    list-style:none;
}

p {
    text-align: center;
}

img {
    display:block;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
    width: 95%;
}

.gallery {
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:100%;


    li {
        width:33%;
        padding: 0 1rem;
        position: relative;
         img {
        width:80%;
        display: block;
        margin-bottom:1rem;
        border: 2px solid $borderColor;
        }
        .fa-star {
            margin-left: 40%;
            color: $borderColor;
        }

        // div {
            
        //     margin: 0 auto;
        // }

        p {
            margin-top:1rem;
            text-align: center;
            margin-bottom:2rem;
        }
    }

    .fa-plus {
        position: absolute;
        top: 2rem;
        left:15%;
    color:white;
    background-color: black;
    border: 2px solid black;
    padding-bottom:1px;
    padding-right:0.5px;
    position:absolute;
    
    }

}

header h1 {
    text-align:center;
}

.searchFunction {
    width: 100%;
    margin-top:5rem;
}

.searchFunction form {
    margin-top:2rem;
    text-align: center;
    margin-bottom:2rem;
}

option {
    color: white;
    background-color: black;
}

select, input, .submitButton{
    margin-left:2rem;
    border: 2px solid yellowgreen;
    font-size: 3rem;
    color: white;
    background-color: black;
}
.submitButton {
    border-radius: 10%;
    
}

//  {
//     color: white;
//     background-color: black;
// }

// .genreChoice {
//     display: none;
// }

.showGenre, .showInput {
    display: unset;
}

.hideGenre, .hideInput {
    display: none;
}





.carousel {
    width: 70vw;
    // margin-left: 100px;
    margin: 0 auto;
    h2 {
        text-align: center;
    }

    li img{
        position: relative;
        border: 2px solid $borderColor;
    }

    .fa-plus {
    // color: red;
    position: absolute;
    top: 2.1rem;
    margin-left:7.2rem;
    z-index:5;
    padding-bottom:1px;
    padding-right:0.5px;
    color:white;
    background-color: black;
    border: 2px solid black;
    }

}


.responsive img{
// width: 200px;
height: 300px;

}

.toWatchBar {
    width:100%;
    min-height:15rem;
    border: 2px solid $borderColor;
}



.toWatchList {
    display:flex;
    flex-wrap:wrap;
    li {
        margin: 1rem 2rem;
        color:$borderColor;
        font-size:2rem;
    }
    position: relative;
    
    
}

.toWatchButton {
    all: unset
}

.result {
    p{
        max-width:50rem;
        margin: 2rem auto;
    }
    
    .fa-star {
        margin:1rem 1rem;
        margin-left:47.2%;
        color:$borderColor;
        
    }
    
    img {
        border: 2px solid $borderColor;
    }
}


@import "partials/mediaQuery"