@import "partials/setup";
@import "partials/variables";

body {
    background-color: $white;
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.gallery {
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    width:100vw;
    img {
        width:40%;
        margin:1rem;
    }

    



}

// .genreChoice {
//     display: none;
// }

.showGenre {
    display: unset;
}

.hideGenre {
    display: none;
}
