@import "partials/setup";
@import "partials/variables";

html{
    background-color:indigo;
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.gallery {
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    width:70vw;
    img {
        width:40%;
        margin:1rem;
    }

    



}

header h1 {
    text-align:center;
}

.searchFunction {
    width: 55vw;
}

.searchFunction form {
    margin-left:10vw;
}

.sideBar {
    margin-left:2vw;
    background-color: black;
    width:20vw;
    min-height:30vw;
}

// .genreChoice {
//     display: none;
// }

.showGenre {
    display: unset;
}

.hideGenre {
    display: none;
}

.flexContainer {
    display:flex;
}