@media (max-width: 1650px) {
    //home
    .carousel .fas {
        margin-left:6rem;
    }

}

@media (max-width: 1470px) {
    //home
    .carousel .fas {
        margin-left:4.2rem;
    }

}


@media (max-width: 1235px) {
    //home
        .carousel .fas {
        margin-left:6rem;
    }

}

@media (max-width: 1165px) {
    //home
        .carousel .fas {
        margin-left:6rem;
    }

}

@media (max-width: 1026px) {
    //home
        .carousel .fas {
        margin-left:3rem;
    }

    select, input, .submitButton{
    margin-left:2rem;
    border: 2px solid yellowgreen;
    font-size: 2rem;
    color: white;
    background-color: black;
}

}

@media (max-width: 895px) {
    //home
        .carousel .fas {
        margin-left:7rem;
    }

}

@media (max-width: 670px) {
    //home

        .result img {
        width:100%;
    }
    
        .carousel .fas {
        margin-left:2.5rem;
    }

    .gallery li{

        .fa-plus{
            left:18.5%;
        }

        .fa-star{
            margin-left:33%;
        }
    }

    select, input, .submitButton{
    margin-left:2rem;
    border: 2px solid yellowgreen;
    font-size: 2rem;
    color: white;
    background-color: black;
    max-width:300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:1.5rem;
}



    form {
        display:flex;
        flex-direction:column;
        
    }

}

@media (max-width: 605px) {
    

    .carousel .fas {
        margin-left:11.5rem;
    }
}
@media (max-width: 480px) {
            
    
    .gallery li {
        width:100%;

        .fa-plus {
            left:15.5%;
            top:4.2%;
        }

        .fa-star {
            margin-left:42%;
        }
    }



}


@media (max-width:380px) {

        .gallery li{

        .fa-plus{
            left:18.5%;
        }

        .fa-star{
            margin-left:33%;
        }
    }
}