@media (max-width: 1650px) {
    //home
    .carousel .fas {
        margin-left:6rem;
    }

}

@media (max-width: 1470px) {
    //home
    .carousel .fas {
        margin-left:4.2rem;
    }

}


@media (max-width: 1235px) {
    //home
        .carousel .fas {
        margin-left:6rem;
    }

}

@media (max-width: 1165px) {
    //home
        .carousel .fas {
        margin-left:6rem;
    }

}

@media (max-width: 1026px) {
    //home
        .carousel .fas {
        margin-left:3rem;
    }

    select, input, .submitButton{
    margin-left:2rem;
    border: 2px solid yellowgreen;
    font-size: 2rem;
    color: white;
    background-color: black;
}

}

@media (max-width: 895px) {
    //home
        .carousel .fas {
        margin-left:7rem;
    }

}

@media (max-width: 670px) {
    //home
        .carousel .fas {
        margin-left:2.5rem;
    }

    select, input, .submitButton{
    margin-left:2rem;
    border: 2px solid yellowgreen;
    font-size: 2rem;
    color: white;
    background-color: black;
}

}
