@media (max-width: 1650px) {
    //home
    .carousel .fas {
        margin-left:6rem;
    }

}

@media (max-width: 1470px) {
    //home
    .carousel .fas {
        margin-left:4.2rem;
    }

}


@media (max-width: 1235px) {
    //home
        .carousel .fas {
        margin-left:6rem;
    }

}

@media (max-width: 1165px) {
    //home
        .carousel .fas {
        margin-left:6rem;
    }

}

@media (max-width: 1026px) {
    //home
        .carousel .fas {
        margin-left:3rem;
    }

}

@media (max-width: 895px) {
    //home
        .carousel .fas {
        margin-left:7rem;
    }

}


