html {
    font-size: 62.5%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p, input, label, select, button, span, .fas {
    font-size: 2rem;
}

.fa-plus {
    font-size:2.2rem;
}


